.mod_img{
    width: 150px;
    height: auto;
    border-radius: 8px;
    border: 0px;
    border-radius: 1000px;
    padding: 5px 5px 5px 5px;
}
.head{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.headerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    color: white;
}
body{
        background-color: #222;

}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    font-weight: 100;
    font-size: 1.2em;
    width: 50vw;
    

}
.nav_links{
    text-decoration: none;
    color: white;
}
.nav_links:hover{
    color: #f0f0f0;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
    width: 100vw;
}
