.mod_img{
    width: 150px;
    height: auto;
    border-radius: 8px;
    border: 0px;
    border-radius: 1000px;
    padding: 5px 5px 5px 5px;
}
.head{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.headerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    color: white;
}
body{
        background-color: #222;

}
.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    font-weight: 100;
    font-size: 1.2em;
    

}